@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

* {
	box-sizing: border-box;
	/* font color for whole app */
	color: #1e2139;
	font-family: 'Sen', sans-serif;
}

.body-main {
	min-height: calc(100vh - 75px);

	display: flex;
	flex-direction: column;

	background-color: #f0e7df;
}

body,
html,
.App,
#root {
	width: 100%;
	height: 100%;
	background-color: #f0e7df;
}
