.home-main-container {
	/* outline: orangered solid 2px; */

	margin: 100px 10px;
}

.app-btn-container {
	display: flex;
	justify-content: space-around;
}

.single-btn-containers {
	display: flex;
	justify-content: center;

	width: 100%;
	height: 300px;
}

.link-btn {
	display: flex;
	flex-direction: column;
	/* 
	outline: rgb(0, 100, 214) solid 2px; */
	background-color: #f79d65;
	border-radius: 20px;

	transition: all 0.25s ease-in-out;
}

.link-btn:hover {
	cursor: pointer;
	/* background-color: #e48950; */
	background-color: #5b85aa;
}

.link-btn svg {
	padding: 30px;

	fill: #1e2139;
	height: 300px;
	/* outline: orangered solid 2px; */
}

.link-text {
	display: flex;
	justify-content: center;

	font-size: 30px;
	font-weight: bold;
}

@media screen and (max-width: 3000px) {
	.single-btn-containers,
	.link-btn svg {
		/* font-size: 50px; */
		height: 400px;
	}
}

@media screen and (max-width: 1875px) {
	.single-btn-containers,
	.link-btn svg {
		height: 300px;
	}
}

@media screen and (max-width: 1450px) {
	.single-btn-containers,
	.link-btn svg {
		height: 275px;
	}
}

/* mobile and tablets */

@media screen and (max-width: 1300px) {
	.single-btn-containers,
	.link-btn svg {
		height: 315px;
	}
}

@media screen and (max-width: 1300px) {
	.app-btn-container {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 1300px) {
	.single-btn-containers {
		margin-bottom: 75px;
	}
}

/* original hover idea that was revealing text on hover */
/* .convert-link-btn:hover,
.substitute-link-btn:hover,
.recipe-link-btn:hover {
	cursor: pointer;

	top: 0;
	bottom: -50px;
} */

/* text { */
/* width: max-content;
	top: 0;
	bottom: 0;
	overflow: hidden; */
/* } */

/* necessary for original on hover  link-btn*/
/* position: absolute; */

/* necessary for original on hover single-btn-containers */
/* position: relative; */
