.form-container {
	display: flex;
	justify-content: center;
	margin-top: 15%;

	outline: red solid 2px;
}

.form-container h3 {
	display: flex;
	justify-content: center;

	font-weight: 700;
}

.form-container form {
	background-color: #5b85aa;
	width: 25%;
	padding: 30px 50px;
	border-radius: 30px;

	min-width: 500px;
}

.form-group {
	padding-top: 20px;
}

.form-control {
	background-color: #f0e7df;
	border-radius: 10px;
	height: 48px;
}

.form-group label {
	padding-left: 5px;
	padding-bottom: 4px;

	font-weight: 600;
}

.btn-container {
	display: flex;
	justify-content: center;
	padding-top: 30px;
}


.submit-btn-text {
	background-color: #f79d65;

	padding: 10px 28px;
	border-radius: 26px;

	font-size: 20px;
	font-weight: 600;
}

.submit-btn-text:hover {
	background-color: #c27443;
}

