nav {
	display: flex;
	justify-content: flex-end;
}

nav ul {
	display: flex;
	flex-direction: row;

	list-style: none;
}

.nav-link {
	color: #1e2139;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.12em;

	display: inline-block;
	padding: 15px 20px;
	position: relative;
}

.nav-link:after {
	/* background: none repeat scroll 0 0 transparent; */
	bottom: 0;
	content: '';
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #1e2139;
	transition: all 0.3s ease-in-out 0s;
	width: 0;
	color: inherit;
}

.nav-link:hover:after {
	width: 100%;
	left: 0;
	color: inherit;
}

.nav-link:visited,
.nav-link:hover {
	color: inherit;
}
